html,
body
  height: 100%
  font-size: 100%

body
  font-family: "Helvetica"
  text-align: center
  background: #f4f4f7
  color: #444
  margin: 0

h1
  font-size: 65px
  line-height: 1.2em
  border-bottom: #CCC solid 1px
  padding: 20px 0

h3
  font-weight: 300

textarea
  margin: 0 5%
  width: 35%
  min-height: 25em
