doctype
html
  head
    title LTR2RTL - Convert your CSS to RTL with a click of a button!
    link(rel="stylesheet" href="styles/main.css")
  body
    != yield
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="scripts/main.js")
