.content
    h1 Felipe

    form(action="/process/", method="POST", class="felipeMain")
        .row
            textarea.input(name="text", id="input")
            textarea.output(name="out", id="output")
        .row
            button(type="submit").btnSubmit Submit
