.content
    header
        h1 LTR2RTL
        p Convert your CSS to RTL with a click of a button!

    form(action="/process/", method="POST")
        p.h-hide
        .row
            textarea(name="input", id="input", autofocus, placeholder="Paste your CSS here")
            textarea(name="out", id="output")
        .row
            button(type="submit") Flip!
    footer
        small
            :markdown
                Made with <span style="color: red">❤</span><br>by [Najam Khan](https://twitter.com/njmkhn) & [Ahmed El Gabri](http://twitter.com/ahmedelgabri)
